<div class="container">
  <div>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAdd">Add</button>


    <table class="table table-striped table-hover"  >
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Url</th>
          <th>Imagem</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

    <% _.each(banners,function(banner,i){ %>
          <tr>
            <td>
              <%= banner.titulo %>
            </td>
            <td>
              <%= banner.url %>
            </td>
            <td>
              <img src="/images/destaques/thumb/<%= banner.img %>" />
            </td>
            <td>
              <!--<button class="btn btn-primary" data-toggle="modal" data-target="#modalEdit<%=i%>">Edit</button>-->
              <a class="btn btn-primary" href="/banner/delete/?id=<%= banner.id %>">Remove</a>
            </td>
          </tr>
 	<% });%>

    <!-- Modal -->
    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="http://localhost:1337/banner/registrar" enctype="multipart/form-data" method="post">
            <div class="modal-body">

              <div class="form-group">
                <input type="text" name="titulo" class="form-control" placeholder="Título" />
              </div>
              <div class="form-group">
                <input type="text" name="url" class="form-control" placeholder="http://www.seulink.com" />
              </div>
              <div class="form-group">
                <input type="file" multiple="multiple" name="img" class="form-control" placeholder="Imagem" />
              </div>

            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Save" />
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>

</div>
</div>
<!--<div class="modal fade" id="modalEdit<i>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
			  <div class="modal-dialog">
				<div class="modal-content">
				 <form action="http://localhost:1337/banner/registrar" enctype="multipart/form-data" method="post">
					<div class="modal-body">

					  <div class="form-group"><input type="text" name="titulo" value="<banner.titulo>" class="form-control" placeholder="Título"/></div>
					  <div class="form-group"><input type="text" name="url"  value="<banner.url>" class="form-control" placeholder="http://www.seulink.com"/></div>
					  <div class="form-group"><input type="text" name="cod" value="<banner.id>"/></div>
					  <div class="form-group"><input type="file" multiple="multiple" name="img" class="form-control" placeholder="Imagem"/></div>


					 </div>
					 <div class="modal-footer">
						 <input type="submit" class="btn btn-primary" value="Save" />
						 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					 </div>
					</form>
				</div>
			  </div>
			</div>-->
